* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-weight: 400;
    color: #222222;
    box-sizing: border-box;
    cursor: default;
}

body::-webkit-scrollbar {
    display: none;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a > img {
    cursor: pointer;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}