@media (max-width: 1240px) {
    .faq__title {
        text-align: center;
    }
    .faq__opinion {
        text-align: center;
    }
    .faq__items {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .faq__items-item {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
    }
    .price__items {
        flex-wrap: wrap;
    }
    .price__items-item {
        margin-top: 16px;
    }
    .comments__items {
        flex-wrap: wrap;
    }
    .comments__items-item {
        margin-top: 16px;
    }
    .comments__items-item-text {
        max-width: 500px;
    }
    .technology__info {
        padding-left: 30px;
    }
    .speed-security__info {
        padding-right: 30px;
    }
}

@media (max-width: 943px) {
    .preview__image {
        display: none;
    }
    .technology__image {
        display: none;
    }
    .speed-security__image {
        display: none;
    }
    .main__preview {
        text-align: center;
    }
    .preview__info-title {
        display: block;
        margin: 20px auto;
    }
    .preview__info-text {
        margin-left: auto;
        margin-right: auto;
    }
    .technology__info, .speed-security__info {
        margin: 0 auto;
    }
}

@media (max-width: 820px) {
    .header__left {
        display: none;
    }
    .header__inner {
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .header__right {
        display: flex;
        flex-direction: column;
    }
    .navigation-button {
        margin-top: 10px;
    }
    .header {
        height: 150px;
    }
    .navigation-list {
        margin-bottom: 10px;
    }
}