doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Flaby
        link(rel="stylesheet", href="css/style.min.css")
    body
        header.header
            .container
                .header__top
                    .top__logo
                        a.top__logo-link(href="index.html")
                            img.top__logo-img(src="images/header__logo.png")
                    .top__nav
                        nav.top__nav-menu
                            ul.menu__list
                                li.menu__list-item
                                    a.menu__list-item--link Home
                                li.menu__list-item
                                    a.menu__list-item--link Services
                                li.menu__list-item
                                    a.menu__list-item--link Portfolio
                                li.menu__list-item
                                    a.menu__list-item--link Blog
                                li.menu__list-item
                                    a.menu__list-item--link Contact us
                        button.top__nav-btn Login
                .header__content
                    h3.content__title flat + free = flaby
                    p.content__text
                        | A Modern Flat design corporate template for free download with all great features and trendy look.
                    button.content__btn.content__btn-marketplace Google Store
                    button.content__btn Learn More
        main.main
            section.service
                .container
                    h5.service__miniTitle Welcome to 
                    h3.service__bigTitle Our services
                    .service__box
                        .box__item
                            .box__item-img 
                                img(src="images/service/web.png")
                            h6.box__item-title Web Development
                            p.box__item-text
                                | There are many variations of passages of Lorem Ipsum available,  the majorityalteration make difficult
                        .box__item
                            .box__item-img 
                                img(src="images/service/photo.png")
                            h6.box__item-title Photography
                            p.box__item-text 
                                | There are many variations of passages of Lorem Ipsum available,  the majorityalteration make difficult
                        .box__item
                            .box__item-img 
                                img(src="images/service/art.png")
                            h6.box__item-title Vector Artist
                            p.box__item-text 
                                | There are many variations of passages of Lorem Ipsum available,  the majorityalteration make difficult
            section.feature 
                .container
                    .feature__img 
                        img(src="images/mockup.png")
                    .feature__content 
                        h5.feature__content-miniTitle We have great features with
                        h3.feature__content-bigTitle Unlimited Customization Features
                        p.feature__content-text
                            | There are many variations of passages of Lorem Ipsum available,  the majorityalteration make difficult
                        ul.feature__content-list 
                            li.feature__content-list-item More wordpress featrures with great responsive design.
                            li.feature__content-list-item Corporate flat design with necessary elements.
                            li.feature__content-list-item Free vector shape and mockup by great designer.
                            li.feature__content-list-item Full one page flat and modern trend following goods.
                        button.feature__content-btn Read More
            section.other
                .container
                    h5.other__miniTitle View Out Latest
                    h3.other__bigTitle Other services
                    .other__box
                        .other__box-item
                            h4.other__item-title.icon-idea Idea Developing
                            p.other__item-text
                                | There are many variations of passages of Lorem Ipsum available, but the majorityalteration in some form with design
                        .other__box-item
                            h4.other__item-title.icon-code Best Coding
                            p.other__item-text
                                | There are many variations of passages of Lorem Ipsum available, but the majorityalteration in some form with design
                        .other__box-item
                            h4.other__item-title.icon-game Game Design
                            p.other__item-text 
                                | There are many variations of passages of Lorem Ipsum available, but the majorityalteration in some form with design
                        .other__box-item
                            h4.other__item-title.icon-design Responsive Design
                            p.other__item-text
                                | There are many variations of passages of Lorem Ipsum available, but the majorityalteration in some form with design 
                        .other__box-item
                            h4.other__item-title.icon-shop Free Shopping
                            p.other__item-text
                                | There are many variations of passages of Lorem Ipsum available, but the majorityalteration in some form with design
                        .other__box-item
                            h4.other__item-title.icon-bonus Bonus Download
                            p.other__item-text
                                | There are many variations of passages of Lorem Ipsum available, but the majorityalteration in some form with design 
            section.price
                .container 
                    h5.price__miniTitle Get Idea About
                    h3.price__bigTitle Pricing Plan
                    .prices
                        .prices__item
                            .prices__item-img
                                img(src="images/book.png")
                            h6.prices__item-title Student
                            p.prices__item-num 39
                            ul.prices__item-list 
                                li.prices__item-list-item.prices__item-list-item--current 6 GB storage
                                li.prices__item-list-item.prices__item-list-item--current Fast Brandwight
                                li.prices__item-list-item Responsive
                                li.prices__item-list-item Customization
                            button.prices__item-btn Sign Up
                        .prices__item
                            .prices__item-img
                                img(src="images/bag.png")
                            h6.prices__item-title Professional
                            p.prices__item-num 59
                            ul.prices__item-list 
                                li.prices__item-list-item.prices__item-list-item--current 6 GB storage
                                li.prices__item-list-item.prices__item-list-item--current Fast Brandwight
                                li.prices__item-list-item.prices__item-list-item--current Responsive
                                li.prices__item-list-item Customization
                            button.prices__item-btn Sign Up
                        .prices__item
                            .prices__item-img
                                img(src="images/shopping-bag.png")
                            h6.prices__item-title Unlimited
                            p.prices__item-num 99
                            ul.prices__item-list 
                                li.prices__item-list-item.prices__item-list-item--current 6 GB storage
                                li.prices__item-list-item.prices__item-list-item--current Fast Brandwight
                                li.prices__item-list-item.prices__item-list-item--current Responsive
                                li.prices__item-list-item.prices__item-list-item--current Customization
                            button.prices__item-btn Sign Up
            section.feedback
                .container 
                    h5.feedback__miniTitle For latest newsletter 
                    h3.feedback__bigTitle Subscribe Now
                    form.feedback__form
                        input.feedback__form-input(type="text", placeholder="Your name")
                        input.feedback__form-input(type="email", placeholder="Your e-mail")
                        button.feedback__form-btn Subscribe
        footer.footer
            .container
                .footer__top
                    .footer__top-info
                        .info__logo
                            img(src="images/footer__logo.png")
                        p.info__text Flaby is a free flat template and available for free downloads but please don’t use for sell
                        ul.info__list
                            li.info__list-item
                                a.info__list-link(href="#") 
                                    img.info__list-img(src="images/social/facebook.png")
                            li.info__list-item
                                a.info__list-link(href="#") 
                                    img.info__list-img(src="images/social/google.png")
                            li.info__list-item
                                a.info__list-link(href="#") 
                                    img.info__list-img(src="images/social/twitter.png")
                    .footer__top-box 
                        h4.top__box-title Useful Link
                        ul.top__box-list 
                            li.top__box-item
                                a.top__box-link(href="#") Resource
                            li.top__box-item
                                a.top__box-link(href="#") Downloads
                            li.top__box-item
                                a.top__box-link(href="#") Graphics
                            li.top__box-item
                                a.top__box-link(href="#") Templates
                            li.top__box-item
                                a.top__box-link(href="#") UI colors
                    .footer__top-box 
                        h4.top__box-title Free Goods
                        ul.top__box-list 
                            li.top__box-item
                                a.top__box-link(href="#") Movies
                            li.top__box-item
                                a.top__box-link(href="#") Music
                            li.top__box-item
                                a.top__box-link(href="#") Videos
                            li.top__box-item
                                a.top__box-link(href="#") Games
                            li.top__box-item
                                a.top__box-link(href="#") Application
                    .footer__top-box 
                        h4.top__box-title Elements
                        ul.top__box-list 
                            li.top__box-item
                                a.top__box-link(href="#") UI Elements
                            li.top__box-item
                                a.top__box-link(href="#") Materials
                            li.top__box-item
                                a.top__box-link(href="#") Flat UI
                            li.top__box-item
                                a.top__box-link(href="#") Print File
                            li.top__box-item
                                a.top__box-link(href="#") Flyer
                    .footer__top-box 
                        h4.top__box-title About Us
                        ul.top__box-list 
                            li.top__box-item
                                a.top__box-link(href="#") Home
                            li.top__box-item
                                a.top__box-link(href="#") Portfolio
                            li.top__box-item
                                a.top__box-link(href="#") Layout
                            li.top__box-item
                                a.top__box-link(href="#") Blog
                            li.top__box-item
                                a.top__box-link(href="#") Contact Us
                .footer__bottom
                    p.footer__bottom-text <span class="bottom__text-copy">© Copyright 2017</span><span class="bottom__text-reserved">All rights reserved</span><span class="bottom__text-design">Template Designed By</span> <b>Sourabh Barua</b>