%sf-regular {
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-weight: 400;
}

%sf-semibold {
    font-family: 'SFProDisplay-Semibold', sans-serif;
    font-weight: 600;
}

%sf-bold {
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 700;
}

%u-light {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

%u-regular {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

%u-medium {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

%u-bold {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}